<main class="container">
    <div class="card mb-3" >
        <div class="row ">
          <div class="col-md-8">
            <img src="http://placehold.it/400x250/000/fff" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
                <p class="card-text">Title: {{movie.title}}</p>
                <p class="card-text">Release Date: {{movie.release_date}}</p>
                <p class="card-text">Genre: {{movie.genre}}</p>
                <p class="card-text">Length: {{movie.length}} min</p>
            </div>
            <div class="btn-group d-flex justify-content-center m-2" style="max-width: 200px;">
                <button class="btn btn-outline-primary" (click)="editMovie()">
                    <i class="bi bi-pencil-square " ></i>
                </button>
                <button class="btn btn-outline-danger" (click)="deleteMovie()">
                    <i class=" bi bi-trash"></i>
                </button>

            </div>
          </div>
        </div>
      </div>
</main>
