$badgeColors: (green,red, yellow, blue, grey, orange, darkblue, black, darkgreen);
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.row .card:hover{
    cursor: pointer;
    box-shadow:         inset 0 0 10px #000000;
}

.item.grid-group-item
{
    display: flex !important;
    //max-width: 400px;
    min-height: 300px !important;
    padding-bottom: 15px;
    padding-top: 15px;
    align-content: center;
    text-align: center;
    
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0rem;
    border: 0;
}

.card{
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}

.img-event:hover{
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.item.list-group-item .caption
{
    float: left;
    width: 100%;
    margin: 0;
    padding-left: 10px ;
    padding-right: 10px;
}

.item.list-group-item .group
{
    margin:0px !important;
    
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.badge{
    float:right;
}
@mixin bg-color($index) {
    .badge.badge-bg-#{$index}{
        background: nth($badgeColors, $index);
        @if $index == 3{
            color:black;
        }
        @else {
            color:white;
        }
    }
}
    

@for $index from 1 to length($badgeColors)+1  {
    @include bg-color($index);
}

